= link_to "Cumulative", keeper_cumulative_graph_path, class: 'btn btn-inverse'
= link_to "Pie", keeper_pie_chart_path, class: 'btn btn-inverse'
= link_to t('.entries', :default => t("helpers.links.entries")), keeper_entries_path, :class => 'btn btn-info'
%br
%br
%table{border: 1}
  - @counts.each do |k|
    %tr
      %td= k[0]
      %td= k[1]