<!DOCTYPE html>
<html>
<head>
  <title>Lunchkeeper</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Keepers", keepers_path %></li>
            <li><%= link_to "Entries", entries_path %></li>
            <li><%= link_to "Graphs" %></li>
            <li><%= link_to "Preselected Values" %></li>
            <li><%= link_to "Logout", destroy_user_session_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="span9"><%= yield %></div>
    </div>
  </div>
</body>
</html>
